<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>List of Bankaccounts</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <table>
        <tr>
            <td><h1>Name</h1></td>
            <td><h1>Balance</h1></td>
            <td><h1>Animaltype</h1></td>
            <td><h1>Is King?</h1></td>
            <td><h1>Is Good?</h1></td>
        </tr>
        @foreach (var bankaccount in BankOfSimba.ViewModels.BankAccountList.bankAccountList)
        {
        <tr>
            <td>@bankaccount.Name</td>
            <td>@String.Format("{0:0.00} {1}", bankaccount.Balance, bankaccount.currency)</td>
            <td>@bankaccount.Animaltype</td>
            <td>@bankaccount.Isking</td>
            <td>@bankaccount.IsGood</td>
            <td>
                <form action="/IncreaseBalance" method="post">
                    <input type="hidden" name="Id" value="@bankaccount.Id" />
                    <input type="hidden" name="Name" value="@bankaccount.Name"/>
                    <input type="hidden" name="Balance" value="@bankaccount.Balance" />
                    <input type="hidden" name="Currency" value="@bankaccount.currency"/>
                    <input type="hidden" name="Animaltype" value="@bankaccount.Animaltype"/>
                    <input type="hidden" name="Isking" value="@bankaccount.Isking"/>
                    <input type="hidden" name="IsGood" value="@bankaccount.IsGood"/>
                    <button type="submit">Add</button>
                </form>
            </td>
        </tr>
        }
        <tr>
            <td>
                <form action="/AddNewElement" method="post">
                    <label>Id:</label><input type="text" name="Id"/><br>
                    <label>Name:</label><input type="text" name="Name"/><br>
                    <label>Balance:</label><input type="text" name="Balance"/><br>
                    <input type="hidden" name="Currency" value="Zebra"/>
                    <label>Animaltype</label><input type="text" name="Animaltype"/><br>
                    <label for="king">King?</label><input type="radio" name="Isking" id="king" value="true"/>
                    <label for="good">Bad?</label><input type="radio" name="IsGood" id="good" value="false"/>
                    <button type="submit">Add</button>
                </form>
            </td>   
         </tr>
    </table>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>