@model BankOfSimba.Models.
<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>List of Bankaccounts</title>
</head>
<body>
    <table>
        <tr>
            <td><h1>Name</h1></td>
            <td><h1>Balance</h1></td>
            <td><h1>Animaltype</h1></td>
        </tr>
        @{ @Model.}
        <tr>
            <td>@Model.Name</td>
            <td>@String.Format("{0:0.00} {1}", @Model.Balance, @Model.currency)</td>
            <td>@Model.Animaltype</td>
        </tr>
    </table>
</body>
</html>